body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.app-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 4px;
    border-top: 5px solid #1a5276; /* Government Blue */
    width: 450px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

input, textarea {
    width: 100%;
    background: #2a2a2a;
    border: 1px solid #444;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1a5276;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover { background-color: #21618c; }
